# Auto detect text files and perform LF normalization
* text=auto
modMD_Production[[:space:]]Deck.pdf filter=lfs diff=lfs merge=lfs -text
modMD_VIP[[:space:]]Home[[:space:]]Deck.pdf filter=lfs diff=lfs merge=lfs -text
modMD_Business[[:space:]]Deck.pdf filter=lfs diff=lfs merge=lfs -text
images/about_03.jpg filter=lfs diff=lfs merge=lfs -text
images/doctor_01.jpg filter=lfs diff=lfs merge=lfs -text
images/lisa.jpg filter=lfs diff=lfs merge=lfs -text
images/naomihollywood.jpg filter=lfs diff=lfs merge=lfs -text
images/clinic_02.jpg filter=lfs diff=lfs merge=lfs -text
images/doctor_02.jpg filter=lfs diff=lfs merge=lfs -text
images/logo.jpg filter=lfs diff=lfs merge=lfs -text
images/Ariel.jpg filter=lfs diff=lfs merge=lfs -text
images/clinic_03.jpg filter=lfs diff=lfs merge=lfs -text
images/clinic_05.jpg filter=lfs diff=lfs merge=lfs -text
images/ariella.jpg filter=lfs diff=lfs merge=lfs -text
images/clinic_01.jpg filter=lfs diff=lfs merge=lfs -text
images/clinic_04.jpg filter=lfs diff=lfs merge=lfs -text
images/doctor_03.jpg filter=lfs diff=lfs merge=lfs -text
images/naomi.jpg filter=lfs diff=lfs merge=lfs -text
images/service-icon3.png filter=lfs diff=lfs merge=lfs -text
images/testi_03.png filter=lfs diff=lfs merge=lfs -text
images/1920x1100.png filter=lfs diff=lfs merge=lfs -text
images/inner-side-banner.png filter=lfs diff=lfs merge=lfs -text
images/logo.png filter=lfs diff=lfs merge=lfs -text
images/apple-touch-icon.png filter=lfs diff=lfs merge=lfs -text
images/bg.png filter=lfs diff=lfs merge=lfs -text
images/slider-bg.png filter=lfs diff=lfs merge=lfs -text
images/bg1.png filter=lfs diff=lfs merge=lfs -text
images/icon-logo.png filter=lfs diff=lfs merge=lfs -text
images/service-icon5.png filter=lfs diff=lfs merge=lfs -text
images/service-nurse.png filter=lfs diff=lfs merge=lfs -text
images/testi_01.png filter=lfs diff=lfs merge=lfs -text
images/bg-testimonial.png filter=lfs diff=lfs merge=lfs -text
images/fevicon.ico.png filter=lfs diff=lfs merge=lfs -text
images/service-icon6.png filter=lfs diff=lfs merge=lfs -text
images/naomigoods.png filter=lfs diff=lfs merge=lfs -text
images/naomihollywood.png filter=lfs diff=lfs merge=lfs -text
images/service-icon2.png filter=lfs diff=lfs merge=lfs -text
images/slider-bg2.png filter=lfs diff=lfs merge=lfs -text
images/footer-logo.png filter=lfs diff=lfs merge=lfs -text
images/icon-service.png filter=lfs diff=lfs merge=lfs -text
images/logosmall.png filter=lfs diff=lfs merge=lfs -text
images/service-icon1.png filter=lfs diff=lfs merge=lfs -text
images/outdoortent.png filter=lfs diff=lfs merge=lfs -text
images/phone-icon.png filter=lfs diff=lfs merge=lfs -text
images/price-bg.png filter=lfs diff=lfs merge=lfs -text
images/service-icon4.png filter=lfs diff=lfs merge=lfs -text
images/icons.png filter=lfs diff=lfs merge=lfs -text
images/logo-politic.png filter=lfs diff=lfs merge=lfs -text
images/service-bg.png filter=lfs diff=lfs merge=lfs -text
images/phonebg.png filter=lfs diff=lfs merge=lfs -text
images/testi_02.png filter=lfs diff=lfs merge=lfs -text
